@font-face { font-family: OhBeloved; src: url('fonts/OhBeloved.ttf'); } 
@font-face { font-family: bahnscrift; src: url('fonts/bahnscrift.ttf'); }

.main-container {
	width: 100%;
	margin: 0px;
	display: flex;
	justify-content: center;	
	background-color: #1111ab40;
}
 .shop-name {
    display: flex;
    height: 118px;
    width: 490px;
    margin-right: auto;
    margin-left: auto;
    margin-top: .5em;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}
body {
	margin: 0px;
	/*background-color: blue;*/
}
hr {
	margin: .2em 2em;
	border: 0.5px solid #3333331f;
}
.page-container {
	width: 90%;
	background-color: white;
}
/* First navigation*/
.header-navigation {
	display: flex;
	justify-content: space-between;
	margin: .5em 2em;
}
.header-navigation a {
  text-decoration: none;
  color: #333333c7;
  margin: 0px 20px;
  font-weight: bold;
  font-family: bahnscrift;
  font-size: 1em;
}
.left-nav {
	display: flex;
	justify-content: space-around;
}
.right-nav {
	display: flex;	
}
/*Second navigation*/
.header-navigation2 {
	display: flex;
	justify-content: space-around;
	background-color: #ffc0cba3;
	padding: 0px 5px;
	margin: .5em 2em;
	  /*margin-top: 10px;*/
	  border-radius: 2px;	
}
.header-navigation2 a {
  text-decoration: none;
  color: #f12ab9;
  margin: 5px 0px;
  font-weight: bold;
  font-family: bahnscrift;
  font-size: 1.2em;
}
.header-navigation2 a:hover {
	color: white;
}
.header-navigation2 a.current-tab {
	color: purple;
}
.img-container {
	/*border: 1px dotted blue;*/
	display: inline-block;
}
.bread-info{
	/*border: 1px dotted blue;*/
/*	display: inline-block;*/
}
.bread-info > div:first-child > a {
	font-family: bahnscrift;
	text-decoration: none;
	text-align: center;
	color: #33333378;
	font-weight: bold;
}
.bread-name {
	font-family: OhBeloved, sans-serif;
	font-size: 2.5em;
}
.breads-container {
	width: 100%;
	/*padding: 3em;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

}
.bread {
	/*border: 1px dotted cyan;*/
	margin-top: -100px;
	padding: 0px 5em;
}
.bread.right {
	align-self: flex-end;
}
.bread:first-child {
	margin-top: 2em;
	display: flex;
	align-items: flex-start;

}
.bread-inner {
	display: flex;
	align-items: flex-start;
}
#white-bread  .bread-info {
	margin-left: -110px;
}
#multigrain-bread  .bread-info {
	margin-right: -30px;
	align-self: center;
}
#french-bread {
	margin-top: -160px;
}
#french-bread .bread-inner {
	display: flex;
	align-items: center;
}
#french-bread .bread-info {
    margin-left: -95px;
    margin-bottom: -45px;
}
#garlic-bread {
	margin-top: -130px;
	padding: 0px 5em;
}
#garlic-bread .bread-info {
	margin-top: 40px;
    margin-right: -78px;
}
#brown-bread {
	margin-top: -150px;
}
#brown-bread .bread-inner {
	align-items: center;
}
#brown-bread .bread-info {
	margin-left: -50px;
	margin-bottom: 0px;
}