 @font-face { font-family: OhBeloved; src: url('fonts/OhBeloved.ttf'); } 
@font-face { font-family: BAHNSCHRIFT; src: url('fonts/BAHNSCHRIFT.ttf'); }

.main-container {
	width: 100%;
	margin: 0px;
	display: flex;
	justify-content: center;	
	background-color: #1111ab40;
}
 .shop-name { 
 	font-family: OhBeloved, sans-serif;
 	font-size: 4em;
 	width: 100%;
 	text-align: center;
 }

img {
  max-width: 100%;
  display: block;
  height: auto;
}
body {
	margin: 0px;
	/*background-color: blue;*/
}
hr {
	padding: 0px 1em;
	border: 0.5px solid #3333331f;
}
.page-container {
	width: 85%;
	background-color: white;
}
/* First navigation*/
.header-navigation , .header-navigation2{
	display: flex;
	justify-content: space-around;
}
.header-navigation a {
  text-decoration: none;
  color: #333333c7;
  margin: 0px 25px;
  font-weight: bold;
  font-family: BAHNSCHRIFT;
  font-size: 1em;
}
.left-nav {
	display: flex;
	justify-content: space-around;
}
.right-nav {
	display: flex;	
}
/*Second navigation*/
.header-navigation2 {
	background-color: #ffc0cba3;
	  padding: 0px 5px;
	  margin-top: 15px;
	  border-radius: 2px;	
}
.header-navigation2 a {
  text-decoration: none;
  color: #f12ab9;
  margin: 5px 0px;
  font-weight: bold;
  font-family: BAHNSCHRIFT;
  font-size: 1.2em;
}
.header-navigation2 a:hover {
	color: purple;
}
.img-container {
	/*border: 1px dotted blue;*/
	display: inline-block;
}
.bread-info{
	/*border: 1px dotted blue;*/
/*	display: inline-block;*/
}
.bread-info a {
	font-family: BAHNSCHRIFT;
	text-decoration: none;
	text-align: center;
	color: #33333378;
	font-weight: bold;
}
.bread-name {
	font-family: OhBeloved, sans-serif;
	font-size: 2.5em;
}
.breads-container {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}
.bread {
	/*border: 1px dotted cyan;*/
	margin-top: -100px;
}
.bread.right {
	align-self: flex-end;
	/*margin-top: -175px;*/

}
.bread:nth-child(2){
	/*margin-top: -0px;*/
}
.bread:first-child {
	margin-top: 0px;
}
.bread-inner {
	display: flex;
	align-items: center;
}
#french-bread {
	margin-top: -60px;
}
#garlic-bread {
	margin-top: -170px;
}
#brown-bread {
	margin-top: -125px;	
}